/* REGOLE GENERALI */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 30%;
  margin: 100px auto;
  display: flex;
  justify-content: space-around;

}

.wrapper{
  width: 200px;
  margin: 0 auto;
}

.mounth{
  width: 200px;
  height: auto;
  margin: 10px auto;
}

.mounth h1{
  text-align: center;
}

.mounth{
  display: none;
}

.mounth.active{
  display: block;
}

.giorni.red{
  color: red;
}


#mioTemplate{
  display: none;
}

#mioT2{
  display: none;
}

.red{
  color: red;
}
